<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WELCOME | EASYREVIEW</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <style>
      .topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
body {
  background-color: #cccccc;
}
    </style>
    <center>
      <h1>WELCOME TO EASYREVIEW</h1>
      <div class="topnav">
      <a href="register">Sign up</a>
      <a href="login">Sign in</a>
    </div>
  </center>
    <br>Very few of us are what we seem. -Agatha Christie<br><br>
    We all make mistakes but one has to move on. - Jeffrey Archer<br><br>
    There is no good or evil: only power and those too weak to seek it. -J.K. Rowling<br><br>
    Small mistakes tend to lead to large ones. - David Baldacci.
  </body>
</html>
